@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body .page_de_collection-business {
  font-family: "Roboto";
  line-height: normal !important;
}
body .page_de_collection-business .header_collection_image_1 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/Bandeau_1_-_Format_Web_139b93c3-3a95-434f-b015-4757f4bef9d3.png?v=1647358518");
}
body .page_de_collection-business .mobile_header_collection_image_1 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/Bandeau_1_-_Format_Mobile.png?v=1647358517");
}
body .page_de_collection-business .collection_image_1 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/80.png?v=1647358518");
}
body .page_de_collection-business .collection_image_2 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/79.png?v=1647358518");
}
body .page_de_collection-business .collection_image_3 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/77_9ffef40e-6907-40ef-89b3-5c307504dbe9.png?v=1647358518");
}
body .page_de_collection-business .collection_image_7 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/81.png?v=1647358518");
}
body .page_de_collection-business .collection_image_10 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/78.png?v=1647358518");
}
body .page_de_collection-business .collection_image_12 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/76_2c51a784-848c-467a-b02a-e1b96de8a036.png?v=1647358517");
}
body .page_de_collection-business .collection_image_13 {
  background-image: url("https://cdn.shopify.com/s/files/1/0069/0549/5636/files/82.png?v=1647358518");
}
body .page_de_collection-business h1 {
  color: #38761d;
  font-size: 30px;
  text-align: center;
  text-transform: none;
}
body .page_de_collection-business h2 {
  font-size: 20px;
  color: #0b5394;
  text-transform: none;
}
body .page_de_collection-business h3 {
  font-size: 18px;
  color: #674ea7;
  text-transform: none;
}
body .page_de_collection-business p {
  font-size: 17px;
}
body .page_de_collection-business span {
  font-weight: bold;
}
body .page_de_collection-business .container_collection_image {
  width: 30%;
}
body .page_de_collection-business .container_collection_image .produit_image {
  width: 100%;
  height: 22em;
  background-size: cover;
  background-position: center;
}
body .page_de_collection-business .notre_collection_2 .header_image {
  width: 100%;
  height: 17em;
  background-size: cover;
  background-position: center;
}
body .page_de_collection-business .notre_collection_2 .mobile_header_collection_image_1 {
  display: none;
}
body .page_de_collection-business .notre_collection_3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}
body .page_de_collection-business .notre_collection_3 .collection_parent {
  width: 50%;
  padding: 0 0 10px 0;
}
body .page_de_collection-business .notre_collection_3 .collection_parent .collection_titre {
  display: flex;
  justify-content: center;
}
body .page_de_collection-business .notre_collection_3 .collection_parent .produit_texte {
  text-align: justify;
  -moz-text-align-last: start;
  text-align-last: start;
}
body .page_de_collection-business .notre_collection_3 .collection_video {
  width: 45%;
}
body .page_de_collection-business .notre_collection_3 .collection_video .video-wrapper {
  padding-bottom: 65%;
}
body .page_de_collection-business .notre_mission_4 {
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding: 0 0 20px 0;
  flex-direction: row-reverse;
  justify-content: space-between;
}
body .page_de_collection-business .notre_mission_4 .produit_parent_2 {
  width: 65%;
  align-self: self-start;
  -moz-text-align-last: start;
  text-align-last: start;
}
body .page_de_collection-business .notre_mission_4 .produit_parent_2 .collection_contenu {
  padding: 10px;
  background-color: #eeeeeeff;
  margin: 0px 0 31px 0;
}
body .page_de_collection-business .notre_mission_4 .produit_parent_2 .collection_contenu h2 {
  -webkit-margin-after: 1.6em;
  margin-block-end: 1.6em;
  margin: revert;
  text-transform: none;
}
body .page_de_collection-business .notre_mission_4 .produit_parent_2 .collection_contenu p {
  text-align: justify;
}
body .page_de_collection-business .notre_mission_4 .produit_parent_2 .decouvrir {
  width: 20%;
  padding: 10px;
  -moz-text-align-last: center;
  text-align-last: center;
  border: 2px solid #595959;
  background-color: #cfe2f3ff;
}
body .page_de_collection-business .objectif_parent {
  display: flex;
  width: 100%;
  text-align: justify;
  justify-content: space-between;
  padding: 0 0 20px 0;
  align-items: center;
}
body .page_de_collection-business .objectif_parent .objectif {
  width: 22%;
  padding: 2em;
}
body .page_de_collection-business .objectif_parent .objectif.objectif_background {
  background-color: #ffffff;
  position: absolute;
  left: 29em;
}
body .page_de_collection-business .objectif_parent .container_collection_image {
  width: 50%;
}
body .page_de_collection-business .objectif_parent .container_collection_image .produit_image {
  width: 100%;
  height: 36em;
}
body .page_de_collection-business .notre_collection_4 {
  display: flex;
  width: 100%;
  padding: 0 0 20px 0;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
body .page_de_collection-business .notre_collection_4 .explorez {
  display: flex;
  width: 100%;
  justify-content: center;
}
body .page_de_collection-business .notre_collection_4 .collection_parent_2 {
  width: 65%;
  align-self: self-start;
  -moz-text-align-last: start;
  text-align-last: start;
}
body .page_de_collection-business .notre_collection_4 .collection_parent_2 .collection_contenu {
  padding: 10px;
  background-color: #eeeeeeff;
  margin: 0px 0 31px 0;
}
body .page_de_collection-business .notre_collection_4 .collection_parent_2 .collection_contenu h2 {
  -webkit-margin-after: 1.6em;
  margin-block-end: 1.6em;
  margin: revert;
  text-transform: none;
}
body .page_de_collection-business .notre_collection_4 .collection_parent_2 .collection_contenu p {
  text-align: justify;
}
body .page_de_collection-business .notre_collection_5 {
  display: flex;
  width: 100%;
  padding: 0 0 20px 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
body .page_de_collection-business .notre_collection_5 .collection_parent_2 {
  width: 65%;
  align-self: self-start;
  -moz-text-align-last: start;
  text-align-last: start;
}
body .page_de_collection-business .notre_collection_5 .collection_parent_2 .collection_contenu {
  padding: 10px;
  background-color: #d0e0e3ff;
  margin: 0px 0 31px 0;
}
body .page_de_collection-business .notre_collection_5 .collection_parent_2 .collection_contenu h2 {
  -webkit-margin-after: 1.6em;
  margin-block-end: 1.6em;
  margin: revert;
  text-transform: none;
}
body .page_de_collection-business .notre_collection_5 .collection_parent_2 .collection_contenu p {
  text-align: justify;
}
body .page_de_collection-business .besoin_2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 0 0 20px 0;
}
body .page_de_collection-business .besoin_2 .collection_parent_2 {
  width: 65%;
}
body .page_de_collection-business .besoin_2 .collection_contenu {
  background-color: #eeeeeeff;
  padding: 40px 0 43px 0;
}
body .page_de_collection-business .besoin_2 .collection_contenu.contenu_2 {
  padding: 40px 0 62px 0;
}
body .page_de_collection-business .besoin_2 .collection_contenu h2 {
  padding: 0 0 0 10px;
}
body .page_de_collection-business .besoin_2 .collection_contenu .collection_texte_1 {
  text-align: justify;
  width: 90%;
}
body .page_de_collection-business .besoin_2 .collection_contenu .collection_texte_1 ul {
  list-style: inside;
  padding: revert;
}
body .page_de_collection-business .besoin_2 .collection_contenu p {
  padding: 0 2em 0 2em;
}
@media (max-width: 1440px) {
  body .page_de_collection-business .objectif_parent .objectif {
    width: 28%;
    padding: 2em;
  }
  body .page_de_collection-business .objectif_parent .objectif.objectif_background {
    left: 14em;
  }
}
@media (max-width: 1024px) {
  body .page_de_collection-business .notre_collection_2 .header_image {
    height: 14em;
  }
  body .page_de_collection-business .objectif_parent .container_collection_image {
    width: 50%;
  }
  body .page_de_collection-business .objectif_parent .container_collection_image .produit_image {
    height: 31em;
  }
  body .page_de_collection-business .objectif_parent .objectif {
    width: 40%;
  }
  body .page_de_collection-business .objectif_parent .objectif.objectif_background {
    left: 4em;
  }
  body .page_de_collection-business .notre_mission_4 .produit_parent_2 {
    width: 67%;
  }
  body .page_de_collection-business .notre_mission_4 .container_collection_image {
    width: 28%;
  }
  body .page_de_collection-business .besoin_2 .collection_contenu {
    background-color: #eeeeeeff;
    padding: 16px 0 24px 0;
  }
  body .page_de_collection-business .besoin_2 .collection_contenu.contenu_2 {
    padding: 23px 0 60px 0;
  }
  body .page_de_collection-business .notre_collection_3 .collection_video .video-wrapper {
    padding-bottom: 75%;
  }
}
@media (max-width: 800px) {
  body .page_de_collection-business h2 {
    font-size: 17px;
  }
  body .page_de_collection-business h3 {
    font-size: 15px;
  }
  body .page_de_collection-business p {
    font-size: 14px;
  }
  body .page_de_collection-business .notre_collection_2 .header_image {
    height: 11em;
  }
  body .page_de_collection-business .notre_collection_3 {
    flex-wrap: wrap;
  }
  body .page_de_collection-business .notre_collection_3 .collection_video {
    width: 100%;
  }
  body .page_de_collection-business .notre_collection_3 .collection_video .video-wrapper {
    padding-bottom: 56%;
  }
  body .page_de_collection-business .notre_collection_3 .collection_parent {
    width: 100%;
    padding: 10px 0 0 0;
  }
  body .page_de_collection-business .objectif_parent .objectif {
    width: 43%;
    padding: 1em;
  }
  body .page_de_collection-business .objectif_parent .objectif.objectif_background {
    left: 4em;
  }
  body .page_de_collection-business .objectif_parent .container_collection_image .produit_image {
    height: 24em;
  }
  body .page_de_collection-business .container_collection_image .produit_image {
    height: 14em;
  }
}
@media (max-width: 425px) {
  body .page_de_collection-business .notre_collection_2 .header_image {
    height: 12em;
  }
  body .page_de_collection-business .notre_collection_2 .header_collection_image_1 {
    display: none;
  }
  body .page_de_collection-business .notre_collection_2 .mobile_header_collection_image_1 {
    display: revert;
  }
  body .page_de_collection-business .notre_mission_4 {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  body .page_de_collection-business .notre_mission_4 .produit_parent_2 {
    width: 100%;
  }
  body .page_de_collection-business .notre_mission_4 .produit_parent_2 .decouvrir {
    width: 30%;
  }
  body .page_de_collection-business .notre_mission_4 .container_collection_image {
    width: 100%;
  }
  body .page_de_collection-business .notre_mission_4 .container_collection_image .produit_image {
    height: 24em;
  }
  body .page_de_collection-business .objectif_parent {
    flex-wrap: wrap;
  }
  body .page_de_collection-business .objectif_parent .objectif {
    width: 100%;
  }
  body .page_de_collection-business .objectif_parent .objectif.objectif_background {
    position: unset;
  }
  body .page_de_collection-business .objectif_parent .container_collection_image .produit_image {
    height: 12.5em;
  }
  body .page_de_collection-business .notre_collection_4 {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  body .page_de_collection-business .notre_collection_4 .collection_parent_2 {
    width: 100%;
  }
  body .page_de_collection-business .container_collection_image {
    width: 100%;
  }
  body .page_de_collection-business .container_collection_image .produit_image {
    height: 22em;
  }
  body .page_de_collection-business .notre_collection_5 .collection_parent_2 {
    width: 100%;
  }
  body .page_de_collection-business .besoin_2 {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  body .page_de_collection-business .besoin_2 .collection_parent_2 {
    width: 100%;
  }
}
@media (max-width: 375px) {
  body .page_de_collection-business .notre_collection_2 .header_image {
    height: 10em;
  }
}

/*# sourceMappingURL=style.css.map */
